.button-container {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: var(--fw-md);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.login {
    padding: 1.2rem;
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &.addtocart {
    padding: 1.5rem;
    background-color: var(--color-orange-bg);

    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);
  }

  &.cart {
    background-color: var(--color-orange-bg);
    color: var(--color-orange-text);

    svg {
      margin-right: 10px;
    }
  }

  &.checkout {
    padding: 1.2rem 0;
    background-color: var(--color-orange-bg);
    color: var(--color-orange-text);
  }
}
