.primary-header {
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #f2f2f2;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
  background: var(--color-white);

  &__logo {
    width: 10.4rem;
  }

  &__right-item {
    display: flex;
    gap: 8px;

    .button-container {
      position: relative;

      .totalquantity {
        padding: 0.5rem 0.9rem;
        border-radius: 100px;
        font-size: 1.3rem;
        background: var(--color-orange-text);
        color: var(--color-white);

        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  .cart {
    background: var(--color-orange-bg);
    color: var(--color-orange-text);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    position: relative;

    span {
      margin-left: 5px;
    }
  }
  .btn {
    display: block;
    font-weight: var(--fw-md);
    padding: 5px 1.2rem;
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    cursor: pointer;
  }
}

.search-field {
  display: flex;
  flex: 0 0 65%;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 64em) {
    flex: 0 0 55%;
  }

  @media only screen and (max-width: 48em) {
    flex: 0 0 50%;
    // display: none;
  }

  @media only screen and (max-width: 43.75em) {
    display: none;
  }

  &-icon {
    width: 1.85rem;
    margin-top: 0.8rem;
    margin-right: -3rem;
    z-index: 99;
  }

  &__input {
    width: 100%;
    padding: 1.5rem 0 1.5rem 5.5rem;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 8px;
  }
}
