.room-furniture {
  margin-top: 2.4rem;

  h1 {
    display: inline-block;
    font-size: 2.4rem;

    @media only screen and (max-width: 26.5625em) {
      font-size: 2rem;
    }
  }

  .sub-text {
    color: #969696;
  }

  .furniture-container {
    margin-top: 2rem;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    cursor: pointer;

    .furniture-type {
      height: 39.6rem;
      border-radius: 1.6rem;

      background-position: center;
      background-size: cover;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      @media only screen and (max-width: 48em) {
        height: 32.6rem;
      }
      @media only screen and (max-width: 26.5625em) {
        height: 27rem;
      }

      .title {
        padding: 2.4rem 0 0 2.4rem;

        font-weight: var(--fw-md);
        font-size: 2rem;

        @media only screen and (max-width: 26.5625em) {
          font-size: 1.6rem;
        }
      }
    }
  }
}
