.cart-item {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.4rem;
  padding-right: 1.2rem;

  .item-image {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 8px;
  }

  .item-details {
    flex-grow: 1;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.4rem 0px;
    gap: 1rem;

    .row-1 {
      align-self: stretch;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      gap: 1rem;

      .text {
        display: flex;
        flex-direction: column;

        .item-code {
          font-size: 1.4rem;
          color: #969696;
        }
      }

      .item-action {
        cursor: pointer;
      }
    }

    .row-2 {
      align-self: stretch;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      gap: 1rem;

      .item-quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 0.8rem;

        span {
          background-color: rgba(0, 0, 0, 0.06);
          padding: 0.8rem 1.5rem;
          border-radius: 8px;

          svg {
            margin-top: 3px;
          }
        }

        .counter {
          cursor: pointer;
        }

        .quantity {
          padding: 1rem 2rem;
          background-color: transparent;
          border: 2px solid rgba(0, 0, 0, 0.06);
        }
      }

      .item-price {
        background-color: transparent;
        font-weight: var(--fw-md);
        padding: 0;
      }
    }
  }
}
