.slider {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  display: flex;
  align-items: center;

  &-details {
    display: flex;
    flex-direction: column;
    padding-left: 2.4rem;
  }

  .slider-text {
    font-size: 2.4rem;
    font-weight: var(--fw-md);
    color: var(--color-black);
  }
  .slider-offer-text {
    font-size: 4.8rem;
    font-weight: var(--fw-bold);
  }
}
